<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="javascript:void(0)">Robot Framework - Dashboard</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
          <li id="home"><a href="{{ url_for('index') }}">Test Suites</a></li>
          <li id="results"><a href="{{ url_for('results') }}">Results</a></li>
          <li id="console"><a href="javascript:void(0)">Console</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li id="settings_btn"><a href="{{ url_for('settings') }}"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
        </ul>
      </div>
    </nav>

    <div id="settings">
      <div class="container" id="settings_menu_container">
        <div class="panel panel-default">
          <div class="panel-body">
            "Admin panel"
          </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-default" id="settings_btn_close">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='ui_handler.js') }}"></script>

    {% block script %}{% endblock %}
  </body>
</html>
