{% extends "base.html" %}

{% block script %}
  <script type="text/javascript">
    "use strict";
    $(document).ready(function() {
        $('.btn.btn-default').on('click', function(event) {
            $.ajax({
                url: "{{ url_for('cmd') }}",
                method: "POST",
                data: {
                    data: event.target.value
                },
                success: function(data) {
                  console.log(data);
                  runIsDone(data);
                }
            });
        });
    });
  </script>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
      <div class="panel-body" style="height: calc(100vh - 150px); overflow-y: auto;">
        <ul class="list-group">
          {% for test in tests %}
          <div class="panel panel-primary">
            <div class="panel-heading">{{ test }}</div>
            <div class="panel-body">
              <button type="button" id="{{ test | split}}" class="btn btn-default run" value={{ test }}>Run</button>
              <div id="{{ test | split}}-files" class="btn-group pull-right" role="group" style="display: none;">
                <a id="{{ test | split}}-report" href="#" target="_blank" class="btn btn-info" role="button">Report</a>
                <a id="{{ test | split}}-log" href="#" target="_blank" class="btn btn-info" role="button">Log</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </ul>
      </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="footer">

    </footer>
{% endblock %}
