{% extends "base.html" %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body" style="height: calc(100vh - 150px); overflow-y: auto;">
        <form action="{{ url_for('settings') }}" method="POST">
         <div class="form-group">
           <label for="dir_path">Directory to Robot files:</label>
           <input type="text" class="form-control" name="dir_path" id="dir_path">
         </div>
         <button type="submit" class="btn btn-default">Save</button>
       </form>
       </div>
    </div>
{% endblock %}
